@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);

body {
  margin: 50px;
}

/* .easy-login{

} */

.form-checkbox {
  position: relative;

  input {
    position: absolute;
    /* appearance : 겉모양 */
    appearance: none;
    width: 12px;
    height: 12px;
  }

  label {
    /* 슬래시는 포지션과 사이즈를 구분하는 마크이다. */
    background: url(./../images/un-check.svg) no-repeat 0 0 / contain;
    padding-left: 25px;
  }

  input:checked + label {
    background-image: url(./../images/checked.svg);
  }

  input:focus {
    outline: none;
  }

  input:focus-visible {
    outline: 2px solid red;
    outline-offset: 1px;
  }
}

.tooltip {
  background: yellowgreen;

  .tooltip-icon {
    background: pink;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* currentColor 라고 쓰면 폰트 색상 따라감,,, 'ㅇ' */
    border: 1px solid currentColor;
    padding: 0.25em;
    font-size: 0.75rem;
    color: red;

    &:hover + .tooltip-content,
    &:focus + .tooltip-content {
      display: block;
    }
  }

  .tooltip-content {
    display: none;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: #fff;
    max-width: 16em;
    border-radius: 8px;
  }
}
