@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);

body {
  margin: 0;
}

.combo-box {
  background: #fff;
  border: 1px solid #aaa;
  display: inline-grid;
  grid-template-columns: 1fr;
  align-items: center;

  select {
    appearance: none;
    border: 0;
    background-color: transparent;
    width: 100px;
    padding: 0.5rem 1rem 0.5rem 2rem;
    z-index: 1;
  }

  select,
  span {
    grid-area: 1 / 1 / 2 / 2;
  }

  span:first-child {
    justify-self: start;
    padding-left: 0.5rem;
  }
  span:last-child {
    justify-self: end;
    padding-right: 0.5rem;
  }
}
