/* TODO 단위 */
/* * 절대 단위 - px */
/* * 상대 단위 - em, rem, %, vw, cqw(container query width) */
/* em : 부모로부터 상속 */
/* rem : html 요소를 기준으로 계산 */
/* vw : 뷰포트를 기준으로 계산(viewport width) */

/* html의 폰트 사이즈를 설정해주지 않으면, 기본값이 16px이다. */

html {
  /* font-size: 0.625em; */
  font-size: 10px;
}

body {
  font-family: 'SUIT', sans-serif;
}

h1 {
  /* font-family: 'SUIT', sans-serif;
  line-height: 1;
  font-size: 60px;
  font-weight: 100;
  font-style: italic;
  font-variant: small-caps; */
  /* <abbr>fifa</abbr> */
  font: bold italic small-caps 60px /1 "SUIT";
}

/* 16px * 2 = 32 */
div {
  font-size: 1.5em;
}

/* 16px */
/* 1.5em - 상속된 글자 크기에 비례 */
p {
  /* 32 * 1.5 = 48 */
  /* font-size: 1.5em; */

  /* 32 * 2 */
  font-size: 2rem;
  line-height: 1;
}

/* viewport 크기 */
@media (max-width: 767px) {
  p {
    /* font-size: 0.85rem; */
    font-size: 3vw;
  }
}
