/* 전체 선택자 */
/* * {
  ...;
} */

/* 요소 선택자 */
/* body {
  ...;
} */

/* class 선택자 */
.box {
  border: 1px solid red;
}

/* id 선택자 */
/* #id {
  ...;
} */

/* 속성 선택자 */
/* 태그 중에서 title 속성을 가진 것들만 선택 */
/* [title] {
  ...;
} */

/* 가상 선택자 */
/* 가상 요소 선택자 */
.box::before {
  content: '첫 번째 자식 요소';
  display: block;
  width: 130px;
  inline-size: 130px;
  background-color: lightblue;
}
.box::after {
  content: '마지막 자식 요소';
  display: block;
  width: 130px;
  inline-size: 130px;
  background-color: lightpink;
}
