/* 모든 디바이스 */

body {
  background-color: yellow;
}

/* 640/16 = 40em */
/* 640px 이상 디바이스 */
@media (min-width: 640px) and (max-width: 800px) {
  body {
    background-color: pink;
  }
}

/* 1024px 이상 디바이스 */
@media (min-width: 1024px) {
  body {
    background-color: cornflowerblue;
  }
}
