@import url(default.css);

/* 비디오 컴포넌트 */
.video-container {
  padding: 20px;
  border: 1px solid #000;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  .video {
    width: 100%;
    inline-size: 100%;
    /* height는 auto 값으로 자동 조절되므로 생략 가능 */
  }
}

/* 레이아웃 */
.box {
  width: 50%;
  margin: 0 auto;
}
