@import url(default.css);

/* * 레거시 방식 */
/* iframe 컴포넌트 */
.iframe-container {
  margin: 0;
  background: transparent;

  /* 레거시 방법 : position 사용 */
  /* padding-top: 56.25%; : 부모 컨테이너의 너비를 기준으로 % 계산됨 (높이 X) */
  .iframe-wrapper {
    position: relative;
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* * 모던 방식 */
/* iframe 컴포넌트 */
.iframe-container2 {
  background: pink;
  margin: 0;
  aspect-ratio: 16/9;

  iframe {
    width: 100%;
    height: 100%;
  }
}

/* 레이아웃 */
.box,
.box2 {
  width: 50%;
  margin: 20px auto;
}
