:root{
  --light-blue: #9EA7CD;
  --dark-blue: #24388D; 
}

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.red{
  background-color: rgba(196,12,12,1.0);
}

.orange{
  background-color: rgb(240, 85, 54);
}

.yellow{
  background-color: rgb(243, 243, 105);
}

.green{
  background-color: rgb(43, 246, 171);
}

.pink{
  background-color: rgb(243, 187, 245);
}

.skyblue{
  background-color: rgb(175, 217, 249);
}

.darkblue{
  background-color: rgb(51, 37, 99);
}

.sand{
  background-color: rgb(244, 180, 19);
}

.purple{
  background-color: rgb(194, 90, 215);
}

.gray{
  background-color: rgb(170, 169, 169);
}

.violet{
  background-color: rgba(116,105,182,1.0);
}

.deeppurple{
  background-color: rgba(50,1,47,1.0);
}

.olivegreen{
  background-color: rgba(118,136,91,1.0);
}