:root{
  --min-container-size: 320px;
  --max-container-size: 90%;
  /* --spacing: 24px; */
  --gap: 24px;
  --column-count: 12;
}

body {
  position: relative;
  height: 200vh;
  block-size: 200vh;
}

.grid-show {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  padding: 0 var(--spacing);
  display: grid;
  column-gap: var(--gap);

  .grid-column {
    background-color: var(--column-bg);
  }
}

@media (max-width:768px) {
  .grid-show {
    --column-bg: rgba(255, 255, 0, 0.15);

    min-width: var(--min-container-size);
    max-width: var(var(--breakpoint));
    grid-template-columns: repeat(var(--column-count), 1fr);
  }
}

@media (min-width: 1200px) {
  .grid-show {
    --column-bg: rgba(255, 0, 0, 0.15);

    min-width: var(--breakpoint);
    max-width: var(--max-container-size);
    grid-template-columns: repeat(var(--column-count), 1fr);
  }
}