@import url(/style/reset.css);
@import url(/style/base.css);
@import url(./grid.css);

.container {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .header,
  .navigation,
  .footer {
    height: 100px;
    block-size: 100px;
    width: 100%;
    inlin-size: 100%;
  }

  .main {
    flex: 1 0 auto;
    max-width: 100%;
    width: 90%;
    gap: 24px;
  }
}

/* 햄버거 버튼 */
.burger-button {
  margin: 20px;
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  align-items: center;
  overflow: hidden;

  .burger-bar {
    width: 100%;
    height: 20%;
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.2s;

    grid-area: 1 / 1 / 2 / 2;

    &.burger-bar-top {
      align-self: start;
    }
    &.burger-bar-middle {
      align-self: center;
    }
    &.burger-bar-bottom {
      align-self: end;
    }
  }
  /* is-active 클래스가 있을 경우 */
  &.burger-button.is-active {
    .burger-bar-top,
    .burger-bar-bottom {
      align-self: center;
    }

    .burger-bar-top {
      rotate: 45deg;
    }

    .burger-bar-middle {
      translate: -100% 0;
    }

    .burger-bar-bottom {
      rotate: -45deg;
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}

/* transition(전이 효과) - 애니메이션 */
/* 내비게이션 */
.menu {
  position: fixed;
  background: orange;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  translate: -100% 0;
  /* transition-property: translate, background;
  transition-duration: 2000ms;
  transition-delay: 0ms, 4000ms;
  transition-timing-function: ease-in-out; */
  /* transition: translate 2000ms 1000ms ease-in-out; */
  /* transition: translate 2000ms 0ms ease-in-out, background 2000ms 2000ms ease-in-out; */
  transition: all 0.2s;

  &.is-active {
    translate: 0 0;
    background: hotpink;
  }
}

/* 로고 */
.logo {
  background-color: deepskyblue;
  /* background-image: url(./../../images/webcafe-logo.png); */
  background-image: image-set(
    url(./../../images/webcafe-logo.png) 1x,
    url(./../../images/webcafe-logo@2x.png) 2x
  );
  background-size: cover;
  background-repeat: no-repeat;
  width: 20%;
  /* height: 50px; */
  aspect-ratio: 1/0.28921568627450983;
}

/* 추천 서적 - book */
.main {
  background-color: transparent;
}

/* 마스크 이미지 */
.book {
  background-color: transparent;
  background-image: url(./../../apple/apple_watch.jpeg);
  background-repeat: no-repeat;
  background-position: 0 100%;

  /* -webkit-mask-image: url(./../../components/images/star.svg);
  mask-image: url(./../../components/images/star.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: 50% 50%;
  mask-position: 50% 50%; */
}

/* 마스크 이미지 - 텍스트 */
.twitter {
  font-size: 100px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(./../../apple/apple_watch.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-clip: text;
  color: transparent;
}

/* 새소식 */
.iframe-container {
  background: transparent;
  margin: 0;
  width: 100%;
  aspect-ratio: 16/9;

  iframe {
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}

/* 스프라이트 이미지 */
.sprite {
  color: #fff;
  font-weight: 900;
  font-size: 24px;
  height: 60px;
  text-indent: 68px;
  background-image: url(/images/sprite_main.png);
  background-repeat: no-repeat;
}

.book {
  .sprite {
    background-position: 0 0;
  }
}
.news {
  .sprite {
    background-position: 0 -230px;
  }
}
