@import url(/style/reset.css);
@import url(/style/base.css);
@import url(/theory/css/grid.css);
@import url(/components/css/logo.css);
@import url(/components/css/burger-button.css);
@import url(/components/css/menu.css);
@import url(/components/css/iframe.css);

.container {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .header,
  .navigation,
  .footer {
    height: 100px;
    block-size: 100px;
    width: 100%;
    inlin-size: 100%;
  }

  .main {
    flex: 1 0 auto;
    max-width: 100%;
    width: 90%;
    gap: 24px;
  }
}

/* 추천 서적 - book */
.main {
  background-color: transparent;
}

/* 마스크 이미지 */
.book {
  background-color: transparent;
  background-image: url(./../../apple/apple_watch.jpeg);
  background-repeat: no-repeat;
  background-position: 0 100%;

  /* -webkit-mask-image: url(./../../components/images/star.svg);
  mask-image: url(./../../components/images/star.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: 50% 50%;
  mask-position: 50% 50%; */
}

/* 마스크 이미지 - 텍스트 */
.twitter {
  font-size: 100px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(./../../apple/apple_watch.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-clip: text;
  color: transparent;
}