/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); */

:root {
  --container-size: 940px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 그라디언트 배경, 다중 배경 이미지 */
body {
  font-family: 'SUIT Variable', sans-serif;
  margin: 0;
  background-color: #ccc;
  background-image: url(./../images/bg_flower.png),
    linear-gradient(180deg, #ccc 0%, #aaa 30%, #eee 50%, #fff 100%);
  background-repeat: no-repeat;
  background-position: 50% 0, 0 0;
  /* background: #ccc linear-gradient(red, green); */
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: var(--container-size, 940px);
  margin: 0 auto;
}

/* 헤더 */
.header {
  height: 120px;
  padding: 0 50px;
  border-radius: 0 0 15px 15px;
  border: 1px solid transparent;
  position: relative;
  background-color: #fff;
}

/* 로고 */
.logo {
  /* background-color: orange; */
  position: absolute;
  top: 45px;
  left: 60px;
}

/* 비주얼 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    margin: 0;
    /* top: 0;
    inset-block-start: 0;
    left: 0;
    inset-inline-start: 0; */
  }
  100% {
    font-size: 24px;
    /* top: 75px;
    inset-block-start: 75px;
    left: 400px;
    inset-inline-start: 400px; */
    margin: 75px 0 0 400px; /* 박스 모델 */
  }
}

.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: moveEffect;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  /* position: absolute;
  z-index: 1; */
}

.visual {
  height: 120px;
  block-size: 120px;
  position: relative;
  /* keyframes에 margin으로 블록 속성을 줬기 때문에 사이즈가 밀리지 않으려면 visual에 border를 줘야함! */
  border: 1px solid transparent;
  &::before,
  &::after {
    /* 공백 값보다 null 값이 더 좋다. */
    content: '';
    width: inherit;
    inline-size: inherit;
    height: inherit;
    block-size: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }
}
.visual::before {
  /* z-index: 1; */
  background-image: url(/images/ani_flower_01.png),
    url(/images/ani_flower_02.png);
  background-position: 0px -10px, 600px 10px;
}
.visual::after {
  background-image: url(/images/ani_flower_03.png),
    url(/images/ani_flower_04.png);
  background-position: 300px 0px, 800px 30px;
}

/* 메인 */
.main {
  display: flow-root; /* 모던 방식 */
  min-height: 450px;
  padding: 28px 16px 36px;
  background-color: #fff;
}

.group {
  border: 1px solid red;
  float: left;
}

.group:nth-child(n + 2) {
  margin-left: 44px;
}

.group1 {
  width: 250px;
  /* background: orange; */
}
.group2 {
  width: 380px;
  /* background: dodgerblue; */
}
.group3 {
  width: 190px;
  /* background: hotpink; */
}

/* 슬로건 */
.slogan {
  /* background-color: lime; */
  height: 10vh;
  clear: both;
}

/* 푸터 */
.footer {
  /* background-color: orange; */
}
.footer-inner {
  /* background-color: yellow; */
  height: 10vh;
}

/* ------------------------------------------------------------ */
/* *           flex를 지원하는 웹 브라우저를 위한 스타일           */
/* ------------------------------------------------------------ */
@supports (display: flex) {
  .main {
    /* padding: 0; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .group:nth-child(n + 2) {
    margin-left: 0;
  }
  .group3 {
    order: -1;
  }
}
