/* sr-only : screen reader only */
/* 센세는 a11y-hidden 같은 클래스를 더 선호하긴 함,, */

.sr-only {
  background: red;
  position: absolute;
  /* width의 논리속성 */
  inline-size: 1px;
  /* height의 논리속성 */
  block-size: 1px;

  /* top: -9999px; */
  /* * top의 논리속성 */
  /* inset-block-start: -9999px; */
  /* ! top 좌표로 주는 순간, 스크린리더의 화면이 위로 튀어버림 */

  overflow: hidden;

  /* 가끔 보이는 경우가 있어서 margin 네이티브 값을 줌 */
  margin: -1px;

  /* * clip - position: absolute와 함께 써야함. */
  /* * clip은 더 이상 권장되지  않음 */
  /* clip: rect(0, 0, 0, 0); */
  
  /* * 이젠 이거 씀 */
  /* TODO clip-path-maker 찾아보기 (https://bennettfeely.com/clippy/) */
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* width와 height를 0px로 주면 되지 않음? */
/* => 스크린리더는 눈에 보이지 않지만 가상커서가 탐색한다. */
