<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>카드 박스</title>
    <!-- 폰트 -->
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <!-- 웹폰트 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/components/css/card-box.css" />
  </head>
  <body>
    <h1>카드 박스</h1>


    <div class="container">
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/684/600/400" alt="">
          </figure>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint beatae similique, aliquam aut non aperiam quis quas illo, molestiae architecto ducimus iusto et quos recusandae animi dolore accusamus ut rem?</p>
          <ul>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
          </ul>
        </article>
      </div>

      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/184/600/400" alt="">
          </figure>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint beatae similique, aliquam aut non aperiam quis quas illo, molestiae architecto ducimus iusto et quos recusandae animi dolore accusamus ut rem?</p>
          <ul>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
          </ul>
        </article>
      </div>

      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/284/600/400" alt="">
          </figure>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint beatae similique, aliquam aut non aperiam quis quas illo, molestiae architecto ducimus iusto et quos recusandae animi dolore accusamus ut rem?</p>
          <ul>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
          </ul>
        </article>
      </div>
      
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/384/600/400" alt="">
          </figure>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint beatae similique, aliquam aut non aperiam quis quas illo, molestiae architecto ducimus iusto et quos recusandae animi dolore accusamus ut rem?</p>
          <ul>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
          </ul>
        </article>
      </div>
      
      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/484/600/400" alt="">
          </figure>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint beatae similique, aliquam aut non aperiam quis quas illo, molestiae architecto ducimus iusto et quos recusandae animi dolore accusamus ut rem?</p>
          <ul>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
          </ul>
        </article>
      </div>

      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/584/600/400" alt="">
          </figure>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint beatae similique, aliquam aut non aperiam quis quas illo, molestiae architecto ducimus iusto et quos recusandae animi dolore accusamus ut rem?</p>
          <ul>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
          </ul>
        </article>
      </div>

      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/680/600/400" alt="">
          </figure>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint beatae similique, aliquam aut non aperiam quis quas illo, molestiae architecto ducimus iusto et quos recusandae animi dolore accusamus ut rem?</p>
          <ul>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
          </ul>
        </article>
      </div>

      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/681/600/400" alt="">
          </figure>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint beatae similique, aliquam aut non aperiam quis quas illo, molestiae architecto ducimus iusto et quos recusandae animi dolore accusamus ut rem?</p>
          <ul>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
          </ul>
        </article>
      </div>

      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/684/600/400" alt="">
          </figure>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint beatae similique, aliquam aut non aperiam quis quas illo, molestiae architecto ducimus iusto et quos recusandae animi dolore accusamus ut rem?</p>
          <ul>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
          </ul>
        </article>
      </div>

      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/684/600/400" alt="">
          </figure>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint beatae similique, aliquam aut non aperiam quis quas illo, molestiae architecto ducimus iusto et quos recusandae animi dolore accusamus ut rem?</p>
          <ul>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
          </ul>
        </article>
      </div>

      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/604/600/400" alt="">
          </figure>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint beatae similique, aliquam aut non aperiam quis quas illo, molestiae architecto ducimus iusto et quos recusandae animi dolore accusamus ut rem?</p>
          <ul>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
          </ul>
        </article>
      </div>

      <div class="box">
        <article class="card">
          <h2>카드 제목</h2>
          <figure>
            <img src="https://picsum.photos/id/684/600/400" alt="">
          </figure>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint beatae similique, aliquam aut non aperiam quis quas illo, molestiae architecto ducimus iusto et quos recusandae animi dolore accusamus ut rem?</p>
          <ul>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
          </ul>
        </article>
      </div>
    </div>
  </body>
</html>