<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>콤보 박스</title>
    <!-- 폰트 -->
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <!-- 웹폰트 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/components/css/combo-box.css" />
  </head>
  <body>
    <h1>콤보 박스</h1>

    <div class="combo-box">
      <span class="fas fa-globe" aria-hidden="true"></span>
      <label for="selectLanguage" class="sr-only">언어 선택</label>
      <select name="language" id="selectLanguage">
        <option value="korean">한국어</option>
        <option value="enlish">영어</option>
      </select>
      <span class="fas fa-caret-down"></span>
    </div>
  </body>
</html>