<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>문서 제목</title>
  <!-- 폰트 -->
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
  <!-- 웹폰트 아이콘 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/theory/css/default.css" />
  <link rel="stylesheet" href="/components/css/sprites.css" />
</head>

<body>
  <div class="flex-items-center headline sprite sprite-book">추천서적</div>
  <div class="flex-items-center headline sprite sprite-news">새소식</div>
  <div class="flex-items-center headline sprite sprite-board">게시판</div>
  <div class="flex-items-center headline sprite sprite-favorite">인기사이트</div>
  <div class="flex-items-center headline sprite sprite-twitter">트위터</div>

  <hr />
  <!-- 크기 변경 가능, 색상 변경 불가능 -->
  <img class="icon-search" src="/images/icons/search.svg" alt="검색" />

  <!-- 크기 변경 가능, 색상 변경 가능 -->
  <svg aria-label="검색" class="svg-icon-search" width="12" height="12" viewBox="0 0 12 12" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path id="Union" fill-rule="evenodd" clip-rule="evenodd"
      d="M7.14574 8.55995C6.45201 8.99709 5.63054 9.25 4.75 9.25C2.26472 9.25 0.25 7.23528 0.25 4.75C0.25 2.26472 2.26472 0.25 4.75 0.25C7.23528 0.25 9.25 2.26472 9.25 4.75C9.25 5.63054 8.99709 6.45201 8.55995 7.14574L11.4571 10.0429C11.8476 10.4334 11.8476 11.0666 11.4571 11.4571C11.0666 11.8476 10.4334 11.8476 10.0429 11.4571L7.14574 8.55995ZM7.25 4.75C7.25 6.13071 6.13071 7.25 4.75 7.25C3.36929 7.25 2.25 6.13071 2.25 4.75C2.25 3.36929 3.36929 2.25 4.75 2.25C6.13071 2.25 7.25 3.36929 7.25 4.75Z"
      fill="#181818" />
  </svg>

  <hr />
  <div class="plus"></div>

  <hr />
  <!-- <img class="icon-circle" src="/images/icons/_sprite.svg#dot_circled" alt="" /> -->

  <!-- 역할 모델을 img로 줬기 때문에 스크린 리더에서 이미지라고 읽어준다. -->
  <svg role="img" class="svg-icon" viewBox="0 0 12 12" aria-label="검색">
    <use href="/images/icons/_sprite.svg#search"></use>
  </svg>
  <svg role="img" class="svg-icon" viewBox="0 0 20 20" aria-label="강조">
    <use href="/images/icons/_sprite.svg#dot_circled"></use>
  </svg>
  
  <div class="sprite-icon1"></div>
  <div class="sprite-icon2"></div>
</body>

</html>