<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>문서 제목</title>
  <!-- 폰트 -->
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
  <!-- 웹폰트 아이콘 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/theory/css/default.css" />
  <link rel="stylesheet" href="/components/css/sprites.css" />
</head>

<body>
  <div class="flex-items-center headline sprite sprite-book">추천서적</div>
  <div class="flex-items-center headline sprite sprite-news">새소식</div>
  <div class="flex-items-center headline sprite sprite-board">게시판</div>
  <div class="flex-items-center headline sprite sprite-favorite">인기사이트</div>
  <div class="flex-items-center headline sprite sprite-twitter">트위터</div>
</body>

</html>