<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>별점</title>
  <link rel="stylesheet" href="/components/css/star.css" />
</head>
<body>
  <h1>별점</h1>

  <div>★☆☆☆☆</div>
  <div>★★☆☆☆</div>
  <div>★★★☆☆</div>
  <div>★★★★☆</div>
  <div>★★★★★</div>
  
  <div class="rating">
    <span class="sr-only">구매 평점</span>
    <span aria-label="5점 만점에 5점"><span aria-hidden="true">★★★★★</span></span>
  </div>
</body>
</html>