<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>그리드 가이드</title>
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
  <link rel="stylesheet" href="/theory/css/grid-guide.css" />
  <link rel="stylesheet" href="/theory/css/default.css" />
  <link rel="stylesheet" href="/components/css/webcafe.css" />
  <script type="module" src="/theory/js/grid-guide.js"></script>
</head>

<body>

  <div class="container">
    <header class="header yellow">header</header>
    <nav class="navigation pink">nav</nav>
    <main class="main green">
      <div class="book skyblue">추천서적</div>
      <div class="news orange">새소식</div>
      <div class="board gray">게시판</div>
      <div class="favorite deeppurple">인기 사이트</div>
      <div class="twitter olivegreen">트위터</div>
    </main>
    <footer class="footer violet">footer</footer>
  </div>

  <!-- Grid System -->
  <div class="grid grid-show">
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
    <div class="grid-column"></div>
  </div>
</body>

</html>